/* global */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

* { box-sizing: border-box; }
a {
  text-decoration: none;
  color: inherit;
}


.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  width: 30%;
  left: 0;
  background-color: rgb(33, 33, 33);
  background-image: url('images/john01.jpeg');
  background-position: right;
  background-size: cover;
  color: white;
}

.right {
  padding: 0;
  width: 70%;
  right: 0;
  over-flow: scroll;
  text-align: justify;
}

.intro {
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* border: 1px solid; */
}

.intro h2 {
  font-size: 38px;
  text-transform: uppercase;
  font-family: 'Gloria Hallelujah', sans-serif;
  letter-spacing: 2px;
  transform: rotate(-10deg);
  text-shadow: 1px 1px 3px black, 2px 2px 5px white;

}

.intro p {
  font-size: 18px;
  font-family: 'Bree Serif', serif;
  letter-spacing: 1px;
}

.intro .social-media {
  font-size: 20px;
}

.right h2 {
  font-family: 'Gloria Hallelujah', sans-serif;
}

.inner-container {
  min-height: 100vh;
  padding: 30px;
}

.inner-container p {
  line-height: 2;
  font-size: 20px;
}
.bio { background-color: gold; }
.work { background-color: springgreen; }
.education { background-color: cornflowerblue; }
.portfolio { background-color: hotpink; }


/* portfolio */

.p-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
}

.box {
  width: 350px;
  height: 220px;
  overflow: hidden;
  position: relative;
}

.layer-one {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease;
}

.layer-one-drive {
  background-image: url('images/p-drive.jpeg');
}
.layer-one-music {
  background-image: url('images/p-music.jpg');
}
.layer-one-game {
  background-image: url('images/p-game.jpeg');
}
.layer-one-photo {
  background-image: url('images/p-photo.jpeg');
}

.layer-two-drive,
.layer-two-music,
.layer-two-game,
.layer-two-photo
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(178, 190, 195, 0.8);
  transition: 0.8s ease;
  opacity: 0;
}

.layer-two-drive h3,
.layer-two-music h3,
.layer-two-game h3,
.layer-two-photo h3
{
  color: rgba(22, 160, 133,1.0);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: arial;
  font-weight: 200;
  margin: 20px 20px 10px 40px;
}

.layer-two-drive h4,
.layer-two-music h4,
.layer-two-photo h4,
.layer-two-game h4
 {
  color: rgba(45, 52, 54,1.0);
  font-weight: 100;
  font-family: arial;
  letter-spacing: 2px;
  margin: 0px 0px 0px 40px;
}

.layer-two-drive hr,
.layer-two-music hr,
.layer-two-game hr,
.layer-two-photo hr

{
  width: 80%;
  border: 0;
  background-color:white;
  height: 2px;
}

.layer-two-drive p,
.layer-two-music p,
.layer-two-photo p,
.layer-two-game p
 {
  font-family: Georgia;
  color: rgba(45, 52, 54, 0.8);
  text-align: justify;
  margin: 10px 40px 10px 40px;
  line-height: 150%;
}

.box-drive:hover .layer-two-drive {
  opacity: 1;
}
.box-music:hover .layer-two-music {
  opacity: 1;
}
.box-game:hover .layer-two-game {
  opacity: 1;
}
.box-photo:hover .layer-two-photo {
  opacity: 1;
}



/* next page icon */
.next {
  font-size: 30px;
  animation: updown 1s ease infinite alternate;
}
.next:hover {
  cursor: pointer;
}
@keyframes updown {
  from { transform: translateY(5px) };
  to { transform: translateY(-5px) };
}


/* Media Queries */

@media(max-width: 768px){

  .split {
    height: auto;
    position: inherit;
    z-index: 1;
    overflow-x: hidden;
    padding: 10px;
  }

  .left {
    width: auto;
    height: 100%;
    background-position: center;
  }

  .intro {
    left: 50%;
  }
  .intro .social-media {
    font-size: 30px;
  }
  .inner-container p {
    line-height: 1.5;
    font-size: 18px;
  }
  .right {
    padding: 0;
    width: auto;
    min-height: 100%;
    height: auto;
    overflow: auto;
  }

  /* .right {
    padding: 0;
    width: 70%;
    right: 0;
    over-flow: scroll;
    text-align: justify;
  } */

}
