@import url('https://fonts.googleapis.com/css?family=Gaegu|Gochi+Hand');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* { box-sizing: border-box; }
a {
  text-decoration: none;
  color: inherit;
}

main {
   width: 100%;
   height: 100%;
   position: relative;
   background-color: lightcoral;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 40px 5px;
  outline: none;
  float: right;
  font-size: 20px;
  font-family: 'Gaegu', arial;
  border: 0;
  color: white;
  box-shadow: 0 0 5px rgba(255,255,255,0.8);
  transition: 0.5s ease;
  overflow: hidden;
}
button:first-of-type {
  margin-right: 40px;
  background-color: #2d3436;
}
button:nth-of-type(2) {
  background-color: #00b894;
}
button:nth-of-type(3) {
  background-color: #0984e3;
}
button:nth-of-type(4) {
  background-color: #f0932b;
}
button:nth-of-type(5) {
  background-color: #82589F;
}
button:hover {
  cursor: pointer;
  width: 250px;
  border-radius: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
button:hover span {
  display: inline;
}
button span {
  display: none;
}

.main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*  About - overlay from left */

.overlay-about {
  position: absolute;
  top:0;
  left:0;
  width: 0;
  height: 100%;
  background-color: #2d3436;
  color: white;
  font-family: arial;
  font-size: 25px;
  overflow-x: hidden;
  transition: 0.5s cubic-bezier(.87,-.41,.19,1.44);
}

.close-about,
.close-work,
.close-education,
.close-portfolio,
.close-welcome {
  position: absolute;
  z-index: 3;
  right: 60px;
  top: 60px;
  color: white;
  border: 5px solid white;
  padding: 10px;
  transition: 0.5s ease;
}

.close-about:hover,
.close-work:hover,
.close-education:hover, .close-portfolio:hover,
.close-welcome:hover
 {
  cursor: pointer;
  transform: scale(0.9);
}

.content-box {
  position: relative;
  top: 10%;
  height: 90%;
  width: 100%;
  text-align: center;
  padding: 20px 60px;
}

.content-box p {
  text-align: justify;
  font-size: 20px;
  line-height: 150%;
  text-indent: 2em;
}

.bio img {
  filter: grayscale(60%);
  opacity: 0.5;
  height: 300px;
  float: left;
  margin-right: 20px;
  transition: 1s ease;
}

.bio img:hover {
  opacity: 1;
}

.bio a:hover {
  color: rgba(255,255,255,0.7);
}

.content-box h2 {
  font-family: 'Gochi Hand', Arial;
  letter-spacing: 3px;
}

.content-box.welcome {
    padding: 10px 20px;
}

.content-box.welcome .close-welcome {

}
/*  overlay from top  */
.overlay-work {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 0;
  background-color: #00b894;
  color: black;
  font-family: arial;
  font-size: 25px;
  overflow-x: hidden;
  transition: 0.5s cubic-bezier(.87,-.41,.19,1.44);
}


/*  overlay from right  */
.overlay-education {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #0984e3;
  color: black;
  font-family: arial;
  font-size: 25px;
  overflow-x: hidden;
  transition: 0.8s cubic-bezier(.87,-.41,.19,1.44);
}

/*  overlay from upper-left  */
.overlay-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background-color: #f0932b;
  color: black;
  font-family: arial;
  font-size: 25px;
  overflow-x: hidden;
  transition:
  width 0.8s cubic-bezier(.87,-.41,.19,1.44),
  height 1s cubic-bezier(.87,-.41,.19,1.44);
}

/*  overlay welcome  */
.overlay-welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 40%;
  transform: translate(-50%, -50%);
  background-color: rgba(130, 88, 159,0.7);
  color: black;
  font-family: arial;
  font-size: 25px;
  overflow-x: hidden;
  transition:
  width 0.5s cubic-bezier(.87,-.41,.19,1.44),
  height 1s cubic-bezier(.87,-.41,.19,1.44);
}

/* work history - timeline  */

.timeline {
  padding: 20px 0px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10%;
  position: relative;
}

.timeline .container {
  margin: 20px 20px 20px 30px;
}

.timeline .title h1 {
  font-size: 80px;
	color: rgba(0,0,0,0.2);
	font-family: serif;
	letter-spacing: 3px;
  text-align: left;
  margin: 0 0 0 20px;
}

.title h2 {
	margin: -40px 0 0 40px;
	font-size: 30px;
  font-family: 'Archivo Narrow', sans-serif;
  text-align: left;
}

.description p {
	font-size: 18px;
	line-height: 20px;
	margin-left: 40px;
	margin-top: 10px;
  padding-left: 20px;
	font-family: serif;
  border-left: 2px solid black;
}

/* education - timeline  */

h1.end {
  font-size: 80px;
	color: rgba(255,255,255,0.2);
	font-family: serif;
	letter-spacing: 3px;
  text-align: left;
  margin: -50px 0 0 60%;
}

/* portfolio */

.main-flex {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-shadow: 0 0 10px white;
}

.inner {
  transition: 1s ease;
  cursor: pointer;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading {
  z-index: 2;
  border-top: 2px solid maroon;
  border-bottom: 2px solid maroon;
}

.heading h1 {
  font-size: 30px;
  font-family: 'Gaegu', cursive;
  margin: 0;
}

.content h3 {
  font-size: 25px;
  font-weight: 200;
}
.content p {
  text-align: center;
}

.content {
  z-index: 2;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  transition: 1s ease;
  opacity: 0;
  transform: translateY(200px);
}

.overlay {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.2);
}

.inner:hover {
  flex: 2;
}

.inner:hover .content {
  opacity: 1;
  transform: translateY(0px);
}

.one {
  background-image: url('images/p-01.jpg');
}
.two {
  background-image: url('images/p-02.jpg');
}
.three {
  background-image: url('images/p-03.jpg');
}
.four {
  background-image: url('images/p-04.jpg');
}
.five {
  background-image: url('images/p-05.jpg');
}
