@import url('https://fonts.googleapis.com/css?family=Gaegu|Gochi+Hand');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* { box-sizing: border-box; }
a {
  text-decoration: none;
  color: inherit;
}

main {
   width: 100%;
   height: 100%;
   posistion: relative;
   background-color: lightcoral;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 20px 5px;
  outline: none;
  float: right;
  font-size: 20px;
  font-family: 'Gaegu', cursive;
  border: 0;
  color: white;
}

button:first-of-type {
  background-color: #2d3436;
}
button:nth-of-type(2) {
  background-color: #00b894;
}
button:nth-of-type(3) {
  background-color: #0984e3;
}

button:hover {
  cursor: pointer;
  font-size: 25px;
}

.main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*  overlay from left */

.overlay-about {
  position: absolute;
  top:0;
  left:0;
  width: 0;
  height: 100%;
  background-color: #2d3436;
  color: white;
  font-family: arial;
  font-size: 25px;
  overflow-x: hidden;
  transition: 0.5s cubic-bezier(.87,-.41,.19,1.44);
}

.close-about, .close-work, .close-education {
  position: absolute;
  right: 20px;
  top:20px;
  color: white;
  transition: 0.5s ease;
}

.close-about:hover, .close-work:hover, .close-education:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.content-box {
  position: relative;
  top: 10%;
  height: 90%;
  width: 100%;
  text-align: center;
  padding: 20px 40px;
}

.content-box p {
  text-align: justify;
  font-size: 20px;
  line-height: 150%;
}

.bio img {
  filter: grayscale(100%);
  opacity: 0.5;
  height: 300px;
  float: left;
  margin-right: 20px;
  transition: 2s ease;
}

.bio img:hover {
  opacity: 1;
}

.content-box h2 {
  font-family: 'Gochi Hand', cursive;
  letter-spacing: 3px;
}

/*  overlay from top  */
.overlay-work {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 0;
  background-color: #00b894;
  color: black;
  font-family: arial;
  font-size: 25px;
  overflow-x: hidden;
  transition: 0.5s cubic-bezier(.87,-.41,.19,1.44);
}


/*  overlay from right  */
.overlay-education {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #0984e3;
  color: black;
  font-family: arial;
  font-size: 25px;
  overflow-x: hidden;
  transition: 0.8s cubic-bezier(.87,-.41,.19,1.44);
}



a.link {
  display: block;
  margin: 10px;
  text-decoration: none;
  color: rgba(255,255,255,0.7);
  transition: 0.5s ease;
}

a.link:hover {
  letter-spacing: 1px;
  color: rgba(255,255,255,1);
  transform: scale(1.5);
}
