@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Signika');


html,body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

/*------------- header ------------*/

header {
  height: 100vh;
  text-align: center;
  position: relative;
}
header h1:first-of-type {
  margin-top: 40vh;
  color: #1A3209;
  font-family: 'Signika', sans-serif;
}
header p {
  color: #355B1A;
  font-family: 'Signika', sans-serif;
}

/*------------- navBar ------------*/
nav {
  display: flex;
  justify-content:space-around;
  background-color: #1B3409;
  z-index: 2;
}

.links {
  display: flex;
  justify-content:center;
}
.logo {
  padding: 16px;
  font-size: 1.2em;
  margin-left: 5px;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 1.5px;
  color: white;
}
a.nav-link {
  display: block;
  padding: 18px;
  margin-left: 5px;
  text-decoration: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1em;
  color: #D0ECBB;
  transition: 0.3s ease;
}
a.nav-link:hover {
  background-color: rgba(0,0,0,0.6);
  color: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* put span before section to handle in-page link issue*/
.anchor{
  display: block;
  height: 58px;
  margin-top: -58px;
  visibility: hidden;
}


/*------------- about ------------*/
section.about,
section.projects,
section.contact {
  min-height: 100vh;
  padding: 60px;
  border: 1px solid;
  position: relative;
}

.about-me p {
  line-height: 2em;
  text-align: justify;
  text-indent: 2em;
}
.about-me-img-taiwan,
.about-me-img-maple {
  position: absolute;
  top: 10%;
  height: 100%;
  width: 50%;
  z-index: -1;
}
.about-me-img-taiwan {
  left: 0%;
}
.about-me-img-maple {
  left: 70%;
}
.about-me-img-taiwan img,
.about-me-img-maple img
{
  max-width: 300px;
  height: auto;
  opacity: 0.1;
}
.about-me-img-maple img {
  transform: rotate(-30deg) scale(1.2);
}
/*------------- projects ------------*/
.my-projects {

}
.project-list {
  display: flex;
  flex-direction: column;
  height: 70vh;
}
.cell {
  flex: 1;
  margin: 10px;
  border-style: dotted dotted dotted solid;
  border-width: 1px 1px 1px 4px;
  border-color: #9BD770;
  overflow: auto;
}
.cell:hover {
  flex: 3;
}
.cell h4, .cell p {
  margin: 0;
}
.cell h4 {
  margin: 10px;
}
.cell p {
  margin-left: 50px;
  margin: 10px 50px;
}
.cell a {
  text-decoration: none;
  font-size: 0.8em;
  padding: 5px;
  margin-left: 20px;
  border-bottom: 4px solid #66B032;
  color: #66B032;
  font-weight: 200;
}
.cell a:hover {
  box-shadow: -1px -1px 3px grey;
}


/*------------- contact ------------*/
.contact-me {
  display: flex;
  align-items: stretch;
}
.left, .right {
  flex: 1;
  height: 80vh;
}
.left {
  background: #122306;
  background: -webkit-linear-gradient(to top, #000000, #0f9b0f);
  background: linear-gradient(to top, #000000, #0f9b0f);
  color: white;
  text-align: center;
}
.left h2 {
  margin-top: 30vh;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.left a {
  display:inline-block;
  color: #9BD770;
  font-size: 3em;
  transition: 0.5s;
}
.left a:hover {
  transform: translateY(-10px);
}
.right {
  border: 3px solid #122306;
}


/*------------- media queries  ------------*/
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .links {
    justify-content: flex-start;
  }
  a.nav-link {
    flex: 1;
    text-align: center;
  }
}
